<!DOCTYPE html>
<html lang="en">
<head>
  <title>Doctor-Patient Portal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  
  
    <div class="panel panel-info">
      <div class="panel-heading" align="center"><h1>Doctor-Patient Portal</h1></div>
	 </div>


      <div class="panel-body">
 
	  	  <img src='/static/images/doctor-patient.jpg' style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>

<div class="panel panel-primary">
    <div class="panel-heading">
         <div class="panel-title pull-left">
             Dr. abc
         </div>
        <div class="panel-title pull-right">Patient xyz</div>
        <div class="clearfix"></div>
    </div>
</div>

<div>
<div class="col-sm-6" align="center">
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">About Patient</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Patient Details</h4>
      </div>
      <div class="modal-body">
        <p>From database</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>
<div class="col-sm-6" align="center">
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1">Medical History</button>

<!-- Modal -->
<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Medical History</h4>
      </div>
      <div class="modal-body">
        <h1>From database</h1>
        <h3> Smth </h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>
</div>

<div align="center">
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2">Consultation History</button>

<!-- Modal -->
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Consultation History</h3>
      </div>
      <div class="modal-body">
        <p>From database</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>
<br/>
<br/>
<br/>
<div class="jumbotron" align="center">
<form>
<div class="form-group">
  <label for="comment">Doctor's Remarks:</label>
  <textarea class="form-control" rows="10"  id="comment"></textarea>
</div>
<br>
<input type="submit" value="submit">
</form>
</div>

<div>
<div class="col-sm-6" align="center">
<button type="button" class="btn btn-lg btn-primary">Admit Patient</button>
</div>
<div class="col-sm-6" align="center">
<button type="button" class="btn btn-lg btn-primary">Done</button>
</div>
</div>
</div>
</div>
</div>
</body>
</html>