<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Feedback</title>
      <!-- Meta tags -->
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="keywords" content="Doctor Search Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"
         />
      <script>
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
      </script>
      <!-- Meta tags -->
      <!-- Calendar -->
      <link rel="stylesheet" href="/static/css/jquery-ui.css" />
      <!-- //Calendar -->
      <!--stylesheets-->
      <link href="/static/css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//style sheet end here-->
      <link href="//fonts.googleapis.com/css?family=Cuprum:400,700" rel="stylesheet">
   </head>
   <body>
      <h1 class="header-w3ls">
         Your Feedback is valuable
      </h1>
      <div class="doctor-form">
         <!-- <h2 class="doctor-list-w3l">Book your appointment here!</h2> -->
         <form action="/provide_feedback" method="post">
            <div class="main">
               <div class="form-right-to-w3l">
                  <select id = "selected_speciality" name="specialization" class="form-control" onchange = "suggest_doctors(this.value)">
                     <option value="">Select Speciality</option>
                     {% for speciality in specialities: %}
                        <option value = "{{ speciality }}">{{ speciality }}</option>
                    {% endfor %}
                  </select>
               </div>
               <div id = "doctors" class="form-left-to-w3l">
                </div>
            </div>
            <div class="clear"></div>
            <div class="main">
                <div class="form-left-to-w3l xtend">
                    <textarea name="details" rows="12" cols="55" placeholder="Please provide your feedback" style="background: none; outline: none; border: 1px solid #fff; color: #fff; padding: 20px;"></textarea>
                    <div class="clear"></div>
                 </div>
            </div>
            <div class="btnn">
               <button type="submit">Done</button><br>
            </div>
         </form>
      </div>
      <!--scripts-->
      <script src='/static/js/jquery-2.2.3.min.js'></script>
      <!--//scripts-->
      <!-- //js -->
      <!-- Calendar -->
      <script src="/static/js/jquery-ui.js"></script>
      <script>
         $(function() {
         $( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
         });
      </script>
      <script>
        function suggest_doctors(specialisation){
            //alert(specialisation)
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/doctors_speciality_suggestions?speciality=" + specialisation, false);
            xhr.send();
            var myArr = JSON.parse(xhr.responseText);

            var doctors = document.getElementById("doctors");
            var menu = "<select name = 'doctor_id' id = 'selected_doctor' class = 'form-control'> <option value=''>Select Doctor</option>"

            for(i = 0; i < myArr.length; ++i) {
                menu += "<option value = '" + myArr[i]._id + "'>" + myArr[i].name + "</option>"; 
            }

            menu += "</select>"

            doctors.innerHTML = menu;

            //console.log(myArr)

        }
      </script>
      <!-- //Calendar -->
   </body>
</html>