<!DOCTYPE HTML>
<html>
	<head>
		<title>HMS Index</title>
	</head>
	<body>
		<img src="/static/images/hospital.jpeg" alt="HMS" height="50" width="50" float="left" position="relative"></img>
		<div>
			<p style="font-size:15px;">HMS</p>
		</div>
		<a href="/login"><button id="login">Log In</button></a>
		<a href="/register"><button id="patient_registration">Registration</button></a>
		<a href="/search"><button id="doctor_info">Doctor Info</button></a>
		<a href="/about"><button id="about">About</button></a>
	</body>
</html>
