<!DOCTYPE HTML>
<html>
	<head>
		<title>Questionnaire</title>
	</head>
	<body>
		<img src="/static/images/hospital.jpeg" alt="HMS" height="50" width="50" float="left" position="relative"></img>
		<div>
			<p style="font-size:15px;">HMS</p>
		</div>
		
		<form>
			<table>
				ALLERGIES AND MEDICATIONS
				<tr>
					<th>Allergies and intolerances :</th>
					<td><textarea placeholder="Please list all the allergies or intolerances" rows=5 cols=100></textarea><td>
				</tr>
				<tr>
					<th>Current medications</th>
					<td><textarea placeholder="Please list all prescription and non-prescription medications you are currently taking:  (Please include dose and frequency)" rows=5 cols=100></textarea><td>
				</tr>
				<tr>
					<th>Previous medications</th>
					<td><textarea placeholder="Please list all prescription and non-prescription medications you have taken in the past: (Please include dose, frequency, and the reason each medication was stopped )" rows=5 cols=100></textarea><td>
				</tr>
				<tr>
					<th>Other medications</th>
					<td><textarea placeholder="Please list all prescription and non-prescription medications you are currently taking for other medical conditions:  (Please include dose and frequency) " rows=5 cols=100></textarea><td>
				</tr>
			</table>
			</br></br>
			<table>
				PAST MEDICAL PROBLEMS</br>
				<tr>Have you ever had any of the following medical conditions ? (Check all that apply)</tr>
				<tr>
					<td><input type="checkbox" name="prob1" value="Diabetes">Diabetes</input></td>
					<td><input type="checkbox" name="prob2" value="Bleeding Disorder">Bleeding Disorder</input></td>
					<td><input type="checkbox" name="prob3" value="Heart murmur">Heart murmur</input></td>
				</tr>
				<tr>
					<td><input type="checkbox" name="prob4" value="Rheumatic fever">Rheumatic fever</input></td>
					<td><input type="checkbox" name="prob5" value="HIV or AIDS">HIV or AIDS</input></td>
					<td><input type="checkbox" name="prob6" value="Stroke">Stroke</input></td>
				</tr>
				<tr>
					<td><input type="checkbox" name="prob7" value="Heart attack">Heart attack</input></td>
					<td><input type="checkbox" name="prob8" value="Heart problemsr">Heart problems</input></td>
					<td><input type="checkbox" name="prob9" value="Circulation problem">Circulation problem</input></td>
				</tr>
				<tr>
					<td><input type="checkbox" name="prob10" value="High cholesterol">High cholesterol</input></td>
					<td><input type="checkbox" name="prob11" value="Cancer">Cancer</input></td>
					<td><input type="checkbox" name="prob12" value="Kidney problems">kidney problems</input></td>
				</tr>
				<tr>
					<td><input type="checkbox" name="prob13" value="High blood pressure">High blood pressure</input></td>
					<td><input type="checkbox" name="prob14" value="Respiratory problems">Respiratory problems</input></td>
					<td><input type="checkbox" name="prob15" value="Thyroid problems">Thyroid problems</input></td>
				</tr>
				<tr>
					<td><input type="checkbox" name="prob16" value="Ulcers">Ulcers</input></td>
					<td><input type="checkbox" name="prob17" value="Liver problems">Liver problems</input></td>
					<td><input type="checkbox" name="prob18" value="Heartburn">Heartburn</input></td>
				</tr>
				<tr>
					<td><input type="checkbox" name="prob19" value="Pacemaker">Pacemaker</input></td>
					<td><input type="checkbox" name="prob20" value="Hepatitis">Hepatitis</input></td>
					<td><input type="checkbox" name="prob21" value="Asthma">Asthma</input></td>
				</tr>
				<tr>
					<td><input type="checkbox" name="prob22" value="Sleep apnea">Sleep apnea</input></td>
					<td><input type="checkbox" name="prob23" value="Other">Other</input></td>
					<td><input type="text" placeholder="Please specify"></input></td>
				</tr>
			</table>
			</br></br>
			<table>
				PAST SURGERY</br>
				<tr>
					<td><textarea placeholder="Please list any previous surgery you have had: (Please include the month and year each surgery was done)" rows=5 cols=100></textarea><td>
				</tr>
			</table>
			</br></br>
			<table>
				REVIEW OF SYSTEMS</br>
				<tr>Please check any of the following problems that you are now experiencing: </tr>
				<tr>
					<th>Constitutional</th>
					<td><input type="checkbox" name="constitutional1" value="Weakness">Weakness</input></td>
					<td><input type="checkbox" name="constitutional2" value="Fatigue">Fatigue</input></td>
					<td><input type="checkbox" name="constitutional1" value="Fever">Fever</input></td>
				</tr>
				<tr>
					<th>Eyes</th>
					<td><input type="checkbox" name="eyes1" value="Eye pain">Eye pain</input></td>
					<td><input type="checkbox" name="eyes2" value="Tearing">Tearing</input></td>
					<td><input type="checkbox" name="eyes3" value="Double vision">Double vision</input></td>
				</tr>
				<tr>
					<th>Ear, Nose, Throat</th>
					<td><input type="checkbox" name="ent1" value="Hearing loss">Hearing loss</input></td>
					<td><input type="checkbox" name="ent2" value="Nasal congestion">Nasal congistion</input></td>
					<td><input type="checkbox" name="ent3" value="Ringing in your ears">Ringing in your ears</input></td>
					<td><input type="checkbox" name="ent4" value="Dizziness">Dizziness</input></td>
					<td><input type="checkbox" name="ent5" value="Sore throat">Sore throat</input></td>
				</tr>
				<tr>
					<th>Cardiovascular</th>
					<td><input type="checkbox" name="cadiovascular1" value="Shortness of breath">Shortness of breath</input></td>
					<td><input type="checkbox" name="cadiovascular2" value="Chest pain">Chest pain</input></td>
					<td><input type="checkbox" name="cadiovascular3" value="Palpitations">Palpitations</input></td>
					<td><input type="checkbox" name="cadiovascular4" value="Ankle swelling">Ankle swelling</input></td>
				</tr>
				<!--Some more are there-->
			</table>	
			</br></br>	
			<table>
				Upload related document</br>
				<tr>
					<td><button id="upload_btn">Upload document</button>
				</tr>
				<tr>	
					<td><textarea placeholder="General description" rows=5 cols=100></textarea></td>
				</tr>
			</table>
		</form>
	</body>
</html>
